@charset "UTF-8";

@font-face {
  font-family: "Cascadia Code";
  src: url("../fonts/CascadiaCode.woff2");
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner.ttf"),
}

body {
  font-family: "Commissioner", Courier, monospace;
  font-size: 20px;
  line-height: 1.7em;
  background-color: #ffffff;
  color: #000000;
}

ul.org-ul {
  line-height: 1.4em;
}

a {
  color: #000000;
}

a:hover {
  color: #685c56;
}

h1 {
  font-size: 64px;
  padding-bottom: 0.75em;
  line-height: 1em;
}

h2 {
  padding-top: 50px;
}

h3 {
  padding-top: 50px;
}

code {
  font-size: 14px;
}

#content {
  margin: 0 auto;
  max-width: 55%;
  margin-top: 5em;
  margin-bottom: 5em;
}

#org-div-home-and-up {
  text-align: right;
  font-size: 13px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 10px;
  padding-right: 20px;
}

#text-table-of-contents ul {
  list-style: none;
}

#text-table-of-contents a {
  text-decoration: none;
  font-size: 18px;
}

#text-table-of-contents a:hover {
  text-decoration: underline;
  color: #685c56;
}

#footnotes {
  padding-top: 2em;
}

.footref {
  text-decoration: none;
  font-size: 13px;
  font-weight: 900;
}

pre.src {
  font-family: "Cascadia Code";
  font-size: 14px;
  line-height: 1.5em;
  background-color: #f4f7f9;
  padding: 20px;
    border: none;
}

pre.src:before {
  background: #f1f3f5;
}

.links {
  display: none;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #e9e4e2;
}

::-webkit-scrollbar-thumb {
  background: #ccc7c5;
}

::-webkit-scrollbar-thumb:hover {
  background: #b2aead;
}

::-moz-selection {
  background: #cbd9e3;
}

::selection {
  background: #cbd9e3;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #content {
    max-width: 90%;
  }
  pre.src {
    font-size: 12px;
  }
}
