@font-face {
  font-family: "Cascadia Code";
  src: url("../fonts/CascadiaCode.ttf");
}

@font-face {
  font-family: "ETBembo", Garamond, serif;
  src: url("../fonts/et-book-roman-line-figures.ttf");
}

html {
  min-height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: #f0edec;
  color: #2c363c;
  font-family: "Cascadia Code", Courier, monospace;
}

.links {
  overflow: hidden;
  margin: auto;
  width: 50%;
  padding: 20px 10px;
  text-align: center;
  font-size: 18px;
}

.links a {
  color: #948985;
  text-decoration: none;
  padding: 5px 10px;
}

.links a:hover {
  color: #2c363c;
  /* text-decoration: underline; */
}

.links a.active {
  color: #2c363c;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.prominent {
  font-size: 100px;
  font-weight: 700;
  position: relative;
  transform: translateY(-50%);
}

.anim-typewriter-text {
  width: 7em;
  margin: 0 auto;
  border-right: 2px solid #2c363c;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter {
  animation: typewriter 1.25s steps(12) 1s 1 normal both,
    blinkTextCursor 600ms steps(12) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 7.2em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: #2c363c;
  }
  to {
    border-right-color: transparent;
  }
}

.posts {
  padding: 2% 25%;
}

.posts a {
  color: #2c363c;
  font-size: 24px;
  padding: 5px 5%;
  text-decoration: none;
}

.posts a:hover {
  text-decoration: underline;
}

.blog {
  padding: 5% 25%;
  font-family: "ETBembo", Garamond, serif;
}

.blog h1 {
  font-size: 44px;
}
.blog p {
  font-size: 22px;
  line-height: 150%;
}

.footer {
  text-align: center;
  padding-bottom: 5%;
}

.footer a {
  color: #948985;
  text-decoration: none;
}

.footer a:hover {
  color: #2c363c;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 10px;
  background: #2c363c;
  width: 0%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}
